[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
wheel = "*"
setuptools = "*"
psycopg2 = "*"
gunicorn = "~=20.1"
whitenoise = "~=6.0.0"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
